<html>
<style>

    @page:first {
    background: url('https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/innovations/cover-PDF-Innovations.png') no-repeat center center;
    background-size: cover;
    margin: 0; /* Remove default margin */
    }

    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        color: #333;
        margin: 0;
    }

    h1 {
        font-size: 14px;
        color: #333;
        font-weight: bold;
    }
    
    #pageHeader{
        margin: 0;
        width: 100%;
        background-color: transparent;
        position: running(pageHeader);
    }

    #pageHeader-1{
        margin: 0;
        width: 100%;
        background-color: transparent;
        position: running(pageHeader-1);
    }

    #pageContent{
        overflow: visible;
    }

    #pageFooter{
        margin: 0;
        width: 100%;
        background-color: transparent;
        position: running(pageFooter);
        bottom: 0;
    }

    .page {
        display: block;
        padding-top: 2px;
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .full-page-height {
        height: 976px;
    }

    .first-page {
        height: 100%;
        text-align: center;
        position: relative;
        background-image: url('https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/innovations/cover-PDF-Innovations.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -10mm; /* Compensate for header margin */
        padding-top: 10mm; /* Add padding to maintain content position */
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

    }

    .header {
        width: 100%;
        margin-bottom: 10px;
        border-collapse: collapse;
    }

    .header td {
        padding: 10px;
        vertical-align: middle;
    }

    .header h3 {
        margin: 0;
        text-align: left;
        font-size: 14px;
        color: #333;
    }

    .header-logo {
        text-align: right;
    }

    .header-logo img {
        max-width: 75%;
        height: auto;
    }

    /* Add page-specific styles */
    .page-container {
        position: relative;
        min-height: 100%;
        padding-bottom: 10mm; /* Footer height */
    }

    .img-background {
        position: fixed;
        bottom: 0px;
        left: 0;
        z-index: -1;
        overflow: visible;
    }

    span.section {}

    span.section>.mainTitle{
        font-size: 14px;
        font-weight: bold;
        color: #0C9999;
    }

    span.section>.title {
        font-size: 14px;
        font-weight: bold;
        color: #34752D;
    }

    span.section>.subtitle{
        font-size: 12px;
        font-weight: bold;
        color: #333;
    }

    span.field{ 
        display: block; 
        margin-bottom: 3px;
        font-weight: lighter; 
        font-size: 11px;
    }

    span.name {
        font-weight: bold;
    }

    span.subtitle {
        display: block;
        font-family: 'Barlow';
        font-size: 10px;
    }

    table {
        font-size: 11px;
        overflow: hidden;
    }

    .table{ 
        width: 100%; 
        border-collapse: collapse; 
    } 
    .table td,.table th { 
        border: 1px solid #a8d08d; 
        padding: 8px; 
        vertical-align: top; 
    } 
    .table tr:nth-child(even){
        background-color: #e2efd9;
    } 
    .table th{ 
        text-align: center; 
        padding: 8px; 
        background-color: #7ab800; 
        color: white; 
    } 

    .table_transparent{ 
        width: 100%; 
        border-collapse: collapse; 
        border: none; 
    }

    .table_blue{ 
        width: 100%; 
        border-collapse: collapse; 
        border: 1px solid #57A7B5;
    } 
    .table_blue td, .table_blue th { 
        padding: 8px; 
        vertical-align: top;
        border: 1px solid #57A7B5;
    } 
    
    .table_blue tr:nth-child(odd){
        background-color: #CEE6EA; 
    } 
    .table_blue th{ 
        text-align: center; 
        padding: 8px; 
        background-color:#57A7B5; 
        color: white; 
    }

    .opacity-50 {
        fill-opacity: 0.5;
    }

    @media print {
        .first-page {
            page-break-after: always;
        }
    }
</style>

<head>
    <meta charset="UTF-8" />
    <title>Generated Report</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="pageHeader">
    </div>

    <div id="pageContent">
        
        <span class="page full-page-height first-page">
            <table style="height: 100%; width: 100%;">
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <h1>{{#safeEmpty}}{{title}}{{/safeEmpty}}</h1>
                    </td>
                </tr>
            </table>
        </span>

        <span class="page">

            <span class="section">
                <h1 class="mainTitle">SECTION: At a glance</h1>
                <h2 class="title">Description</h2>
                <span class="content">
                    <span class="field">
                        {{#safeEmpty}}{{{narrative}}}{{/safeEmpty}}
                    </span>
                </span>

                <h3 class="subtitle">This innovation is important for: </h3>
                <span class="content">
                    <span class="field">
                        {{#safeEmpty}}{{{innovationImportance}}}{{/safeEmpty}}
                    </span>
                </span>
            </span>

            <br>

            <span class="section">
                <h2 class="title">General Information</h2>
                <span class="content">
                    <table class="table_transparent">
                        <tr>
                            <td width="10%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/code.png" width="48px" />
                            </td>
                            <td width="17.5%">
                                <span class="field">
                                    <span class="name subtitle" style=" color: #8CBF30;">Innovation code </span>
                                    <span >{{#safeEmpty}}{{id}}{{/safeEmpty}}</span>
                                </span>
                            </td>
                            <td width="10%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/innovations/Inno+Cluster.png" width="48px" />
                            </td>
                            <td width="17.5%">
                                <span class="field">
                                    <span class="name subtitle" style="color: #0C9999;">Cluster lead </span>
                                    <span>{{#safeEmpty}}{{clusterAcronym}}{{/safeEmpty}}</span>
                                </span>
                            </td>
                            <td width="10%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/year.png" width="48px" />
                            </td>
                            <td width="17.5%">
                                <span class="field">
                                    <span class="name" style="display: block; color: #F4971A;">Report year </span>
                                    <span>{{#safeEmpty}}{{year}}{{/safeEmpty}}</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table class="table_transparent">
                        <tr>
                            <td width="10%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/innovations/Inno+nature.png" width="48px" />
                            </td>
                            <td width="17.5%">
                                <span class="field">
                                    <span class="name subtitle" style="color: #34752D;">Nature </span>
                                    <span style="font-size: 9px;">{{#safeEmpty}}{{repIndInnovationNature}}{{/safeEmpty}}</span>
                                </span>
                            </td>
                            <td width="10%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/innovations/Inno+type.png" width="48px" />
                            </td>
                            <td width="17.5%">
                                <span class="field">
                                    <span class="name subtitle" style="color: #BF8F00;">Type </span>
                                    <span style="font-size: 9px;">{{#safeEmpty}}{{repIndInnovationType}}{{/safeEmpty}}</span>
                                </span>
                            </td>
                            <td width="10%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/innovations/Inno+function.png" width="48px" />
                            </td>
                            <td width="17.5%">
                                <span class="field">
                                    <span class="name subtitle" style="color: #0277A2;">Function </span>
                                    <span style="font-size: 9px;">{{#safeEmpty}}{{toolCategories}}{{/safeEmpty}}</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <br>    
                </span>

                <br>

                <h2 class="title">Other Clusters contributing</h2>
                <span class="content">
                    {{#if studyProjects}}
                    <ul>
                        {{#each (parseJSON studyProjects)}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{else}}
                    Not Required
                    {{/if}}
                </span>
            </span>

            <br>

            <span class="section">
                <h2 class="title">Impact Area contribution </h2>

                {{#ifEquals hasCgiarContribution 'Yes'}}
                    <span class="content">
                        <table class="table_transparent">
                            <tr>
                                <td width="15%">
                                    <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/impact-areas/ICONS+CGIAR-{{impactAreaCode}}.png" width="71.04px" />
                                </td>
                                <td width="85%">
                                    <span class="field">
                                        {{#safeEmpty}}{{impactArea}}{{/safeEmpty}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </span>
                {{else}}
                    <h4>No, this outcome doesn't impact a contribution of the CGIAR in influencing or modifying policies</h4>
                    <span class="name">Provide reason:</span>
                    <span class="content">
                        {{#safeEmpty}}{{reasonNotCgiarContribution}}{{/safeEmpty}}
                    </span>
                {{/ifEquals}}
            </span>

            <br>

            <span class="section">
                <h2 class="title">Geographic location</h2>
                <span class="content">
                    <table class="table_transparent">
                        <tr>
                            <td width="20%">
                                <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/Africa.png" width="73.92px" height="78.72px" />
                            </td>
                            <td width="80%">
                                <span class="field">
                                    <span class="name ">Scope: </span> {{#safeEmpty}}{{geographicScopes}}{{/safeEmpty}}
                                </span>
                                <span class="field">
                                    <span class="name">Country(ies): </span> {{#safeEmpty}}{{countries}}{{/safeEmpty}}
                                </span>
                                <span class="field">
                                    <span class="name">Region(s): </span> {{#safeEmpty}}{{regions}}{{/safeEmpty}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </span>
            </span>

            <br>

            <span class="section">
                <h2 class="title">Key contributors</h2>
                <span class="content">
                    <h3 class="subtitle">CG Centers/Managing partners:</h3>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                        {{#if centers}}
                            {{#each (parseJSON centers)}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.type}}</td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="4" style="text-align: center; font-style: italic;">Not information provided</td>
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="4" style="text-align: center; font-style: italic;">Not information provided</td>
                            </tr>
                        {{/if}}
                    </table>
                    <p style="font-size: 10px;">Note: These are the partners who have significantly contributed to the reported outcome or impact.</p>
                </span>
                <br>
                <span class="content">
                    <h3 class="subtitle">External partners:</h3>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            </tr>
                        {{#if institutions}}
                            {{#each (parseJSON institutions)}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.type}}</td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="4" style="text-align: center; font-style: italic;">Not information provided</td>
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="4" style="text-align: center; font-style: italic;">Not information provided</td>
                            </tr>
                        {{/if}}
                    </table>
                    <p style="font-size: 10px;">Note: These are the partners who have significantly contributed to the reported outcome or impact.</p>
                </span>
            </span>

            <br>

            <span class="section">
                <h2 class="title">Link to performance indicators</h2>
                <span class="content">
                    {{#if performanceIndicator}}
                    <ul>
                        {{#each (parseJSON performanceIndicator)}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{else}}
                    Not provided
                    {{/if}}
                </span>
            </span>

        </span>
        
        <span class="page">
            <span class="section">
                <h1 class="mainTitle">SECTION: Scaling Potential</h1>
                <h2 class="title">Anticipated users of this innovation:</h2>
                <h3 class="subtitle">Actors</h3>
                <span class="content">
                    <table class="table_blue">
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th colspan="2">Women</th>
                            <th colspan="2">Men</th>
                            <th colspan="2">Non-binary</th>
                        </tr>
                        {{#if actors}}
                            {{#each (parseJSON actors)}}
                            <tr>
                                <td rowspan="2" width="10%">{{@index}}</td>
                                <td rowspan="2" width="30%">{{#safeEmpty}}{{this.type}}{{/safeEmpty}}</td>
                                <td>Youth</td>
                                <td>Non-youth</td>
                                <td>Youth</td>
                                <td>Non-youth</td>
                                <td>Youth</td>
                                <td>Non-youth</td>
                            </tr>
                            {{#ifEquals this.sexAgeNotApply 'Yes'}}
                                <tr>
                                    <td colspan="2">Not applicable</td>
                                    <td colspan="2">Not applicable</td>
                                    <td colspan="2">Not applicable</td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td>{{#safeEmpty}}{{this.womenYouth}}{{/safeEmpty}}</td>
                                    <td>{{#safeEmpty}}{{this.womenNotYouth}}{{/safeEmpty}}</td>
                                    <td>{{#safeEmpty}}{{this.menYouth}}{{/safeEmpty}}</td>
                                    <td>{{#safeEmpty}}{{this.menNotYouth}}{{/safeEmpty}}</td>
                                    <td>{{#safeEmpty}}{{this.nonbinaryYouth}}{{/safeEmpty}}</td>
                                    <td>{{#safeEmpty}}{{this.nonbinaryNotYouth}}{{/safeEmpty}}</td>
                                </tr>
                            {{/ifEquals}}
                            {{else}}
                            <tr>
                                <td colspan="8" style="text-align: center; font-style: italic;">No information provided</td>
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="8" style="text-align: center; font-style: italic;">No information provided</td>
                            </tr>
                        {{/if}}
                    </table>
                </span>
                <h3 class="subtitle">Organizations</h3>
                <span class="content">
                    <table class="table_blue">
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Name</th>
                        </tr>
                        {{#if allianceOrganizations}}
                            {{#each (parseJSON allianceOrganizations)}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{#safeEmpty}}{{this.type}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.name}}{{/safeEmpty}}</td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="3" style="text-align: center; font-style: italic;">No information provided</td>
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="3" style="text-align: center; font-style: italic;">No information provided</td>
                            </tr>
                        {{/if}}
                    </table>
                </span>
                <h3 class="subtitle">Intended beneficiaries/users likely to benefit </h3>
                <span class="content">
                    <span class="field">
                        {{#safeEmpty}}{{{beneficiariesNarrative}}}{{/safeEmpty}}
                    </span>
                </span>
            </span>
        </span>

        <span class="page">
            <table>
                <tr>
                    <td style='width: 70%; vertical-align: top;'>
                        <span class='section'>
                            {{#if knowledgeMethodsAndToolsNarrative}}
                                <h3 class="subtitle">Methods and tools that were developed to support the outreach and the use of this reported innovation</h3>
                                <span class="content">
                                    <span class="field">
                                        {{#safeEmpty}}{{{knowledgeMethodsAndToolsNarrative}}}{{/safeEmpty}}
                                    </span>
                                </span>
                            {{/if}}
                            <h3 class="subtitle">Results achieved and outcomes expected:</h3>
                            <span class="content">
                                <span class="field">
                                    {{#safeEmpty}}{{{knowledgeResultsNarrative}}}{{/safeEmpty}}
                                </span>
                            </span>
                        </span>

                    </td>

                    <td style='width:30%; vertical-align: top;  text-align: center;'>
                        {{#if readinessScale}}
                            <div style="margin-top: -95px;">
                                <img 
                                width='100%' 
                                src="https://prms-file-storage.s3.amazonaws.com/images/inno-scaling-readiness-{{readinessScale}}.png" 
                                alt='Logo' 
                                 />
                            </div>
                        {{else}}
                            <div style="margin-top: -95px;">
                                <img
                                width='100%'
                                src='https://prms-file-storage.s3.amazonaws.com/images/inno-scaling-readiness-not-provided.png'
                                alt='Logo'
                            href='https://www.scalingreadiness.org'
                            </div>
                        {{/if}}

                        <br />
                        <span style='font-size: 10px;'>
                            Learn more in
                            <a
                            href='https://www.scalingreadiness.org'
                            target='_blank'
                            rel='noopener noreferrer'
                            class='link'
                            >www.scalingreadiness.org</a>
                        </span>
                    </td>
                </tr>
            </table>
        </span>

        <span class="page">
            <span class="section">
                <h2 class="title">Evidence and reference</h2>
                <span class="content">
                    <table class="table_blue">
                        <tr>
                            <th>#</th>
                            <th>Evidence/Reference</th>
                            <th>Category</th>
                            <th>Sub-category</th>
                            <th>Link</th>
                        </tr>
                        {{#if (or references referenceUrls)}}
                            {{#each (parseJSON references)}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{#safeEmpty}}{{this.reference}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.deliverableCategory}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.deliverableType}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.url}}{{/safeEmpty}}</td>
                            </tr>
                            {{/each}}
                            {{#each (parseJSON referenceUrls)}}
                            <tr>

                                {{#with (parseJSON ../references) as |parsedReferences|}}
                                    <td>{{math @index "+" parsedReferences.length}}</td>
                                {{/with}}                                
                                <td>{{#safeEmpty}}{{this.reference}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.deliverableCategory}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.deliverableType}}{{/safeEmpty}}</td>
                                <td>{{#safeEmpty}}{{this.url}}{{/safeEmpty}}</td>
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="5" style="text-align: center; font-style: italic;">No information provided</td>
                            </tr>
                        {{/if}}
                    </table>
                </span>
            </span>
        </span>
    </div>

    <div id="pageFooter">
        <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/Footer-PDF.png" class="img-background opacity-50 " />
        <table class="table_transparent opacity-50">
            <tr>
                <td width="60%" style="text-align: left; vertical-align: middle; padding-left: 5rem; ">
                    <span style="color: #333; font-weight: 300; font-size: 9px; display: block;">This report was generated on {{timeCreation}} CET. Please note that the contents of this report may change in the future as it is dependent on the data entered into the MARLO AICCRA System</span>
                </td>
                <td width="40%" style="text-align: right; vertical-align: middle; padding-right: 5rem; ">
                    <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/AICCRA-logo.png" alt="Logo AICCRA" width="40%" />
                </td>
            </tr>
        </table>
    </div>

    <div id="pageHeader-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="378" height="80" viewBox="0 0 378 80" fill="none" style="position: absolute; top: 0; left: 0; z-index: -1;">
            <path d="M0.19165 0.26123L378 0C346.22 49.9966 331.524 74 299.597 79.8767H0.19165V0.26123Z" fill="#15999A"/>
        </svg>

        <table class="header" style="height: 100%;">
            <tr>
                <td width="50%" style="padding-left: 4rem; text-align: left; vertical-align: top; padding-top: 32px;">
                    <h3 style="color: white; width: 80%">{{#safeEmpty}}{{type}}{{/safeEmpty}}</h3>
                </td>
                <td width="50%" style="padding-right: 5rem; text-align: right; vertical-align: middle; padding-top: 8px;" class="header-logo">
                    <img src="https://marlo-pdf-resources-dev.s3.us-east-1.amazonaws.com/AICCRA-logo.png" alt="AICCRA Logo" width="50%" />
                </td>
            </tr>
        </table>
    </div>
    <div id="pageFooter-1">
        <table style="height:100%; width:100%;" class="opacity-50">
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    <span style="padding-left: 5rem; padding-right: 5rem; text-align:left; color: #333; font-weight: 300; font-size: 11px; display: block;">This report was generated on {{timeCreation}} CET. Please note that the contents of this report may change in the future as it is dependent on the data entered into the MARLO AICCRA System</span>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>